<md-sidenav-container fullscreen>

  <md-toolbar color="primary" class="mat-elevation-z5">
    <img src='../assets/goat-icon.svg' class='navicon'>
    <button routerLink="/dashboard" md-button mdTooltip="Tooltip!"><i class="material-icons">favorite</i> DASHBOARD</button>
    <button routerLink="/heroes" md-button> <i class="material-icons">thumb_up</i> ALL GOATS</button>
    <span class="fill-space"></span>
    <hero-search></hero-search>
    <a src='#' md-button> <img class='navicon-sm' src='../assets/github.svg'> GITHUB</a>
  </md-toolbar>

  <div class='content'>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>