
.goat-card {
  width: 70%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}
.cen {
  text-align: center;
}