.goat-card {
  /*max-width: 300px;*/
  cursor: pointer;
  margin: 6px;
}

.goat-card md-card-title {
  font-size: 110%;
}

.goat-card:hover {
  background-color: #EFEFEF;
  box-shadow: 0 3px 15px -1px rgba(0,0,0,.2), 0 10px 14px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.cen {
  text-align: center;
}

.fill-space {
  flex: 1 1 auto;
}

md-card-header button {
  top: -10px;
}


md-card-header .material-icons {
  color:#EC644B;
}
