<div *ngIf="goat">
  <md-card class="detail-card">
    <md-card-header>
      <h1>{{goat.name}}</h1>
    </md-card-header>
    <img md-card-image src='assets/{{goat.photo}}'>
    <md-card-content>
        <div>{{goat.likes}} likes</div>
        <p>{{goat.desc}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="likeGoat(goat)"><md-icon>favorite</md-icon>&nbsp; LIKE</button>
      <button md-button [routerLink]="['/edit', goat.RowKey]"><md-icon>mode_edit</md-icon>&nbsp; EDIT</button>
      <button md-button (click)="delete()"><md-icon>delete_forever</md-icon>&nbsp; DELETE</button>
    </md-card-actions>
  </md-card>
</div>