<!--<div *ngIf="goat">
  <h2>{{goat.name}} details!</h2>
  <div>
    <label>id: </label>{{goat.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="goat.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>-->

<div *ngIf="goat">
  <md-card class="detail-card">
    <md-card-header>
      <md-card-title>{{goat.name}}</md-card-title>
    </md-card-header>
    <img md-card-image src='assets/{{goat.photo}}'>
    <md-card-content>
        <div>{{goat.likes}} likes</div>
        <p>{{goat.desc}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button><i class="material-icons">mode_edit</i>&nbsp; EDIT</button>
      <button md-button><i class="material-icons">delete_forever</i>&nbsp; DELETE</button>
    </md-card-actions>
  </md-card>
</div>