<md-list>
  <h3 md-subheader>All Goats</h3>
  <md-list-item class="goat-card mat-elevation-z2" *ngFor="let goat of goats" (click)="onSelect(goat)" [class.selected]="goat === selectedGoat" [routerLink]="['/detail', goat.RowKey]">
    <md-icon md-list-icon>perm_identity</md-icon>
    <h1 md-line>{{goat.name}}</h1>
  </md-list-item>
</md-list>

<!--
<h2>All Goats</h2>
<div>
  <label>Goat name:</label> <input #goatName />
  <button (click)="add(goatName.value); goatName.value=''">
    Add
  </button>
</div>
<ul class="goats">
  <li *ngFor="let goat of goats" (click)="onSelect(goat)" [class.selected]="goat === selectedGoat">
    <span class="badge">{{goat.id}}</span>
    <span>{{goat.name}}</span>
    <button class="delete" (click)="delete(goat); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedGoat">
  <h2>
    {{selectedGoat.name | uppercase}} is my goat
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
-->