<h2>All Goats</h2>
<div>
  <label>Goat name:</label> <input #goatName />
  <button (click)="add(goatName.value); goatName.value=''">
    Add
  </button>
</div>
<ul class="goats">
  <li *ngFor="let goat of goats" (click)="onSelect(goat)" [class.selected]="goat === selectedGoat">
    <span class="badge">{{goat.id}}</span>
    <span>{{goat.name}}</span>
    <button class="delete" (click)="delete(goat); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedGoat">
  <h2>
    {{selectedGoat.name | uppercase}} is my goat
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>