.search-result {
  width: 195px;
  height: 16px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: white !important;
  cursor: pointer;
  color: #222222;
  box-shadow: 3px 3px 8px #888888;
}

.search-result:hover {
  color: #3f51b5;
}

.search-container {
  position: absolute; 
  z-index:9999;
}

#search-box {
  width: 160px;
  height: 22px;
  font-size: 0.8em;
}